#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(89, 97, 104);
}
.App {
  width: 80%;
  position: relative;
  height: 70%;
  box-shadow: 5px 5px 15px rgb(56, 55, 55);
  background: linear-gradient(
    90deg,
    rgba(44, 47, 48, 1) 0%,
    rgba(16, 52, 105, 1) 96%
  );
  box-sizing: border-box;
  padding: 4vh 6vh;
}
.video-block {
  max-width: 600px;
  width: 50%;
  height: 70%;
  position: relative;
}
.youtube {
  width: 100%;
  border-radius: 10px;
  min-height: 450px;
}

.controllers {
  width: 50%;
  margin-top: 6vh;
  color: white;
}
.input-block {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
input {
  width: 50%;
  flex: 3;
  height: 24px;
  padding: 3px 5px;
  border-radius: 8px;
  font-size: 16px;
}
.button {
  margin: 10px;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid white;
}
.controllers-buttons {
  margin-top: 3vh;
}
.mutevideo {
  width: 100%;
  height: 95%;
  position: absolute;
  background-color: black;
}
.list::-webkit-scrollbar {
  width: 12px;
}

.list::-webkit-scrollbar-thumb {
  background-color: rgb(46, 60, 114);
  outline: 1px solid slategrey;
  border-radius:10px;
}

.list {
  position: absolute;
  height: 85%;
  width: 40%;
  right: 4vh;
  background-color: rgb(15, 17, 34);
  overflow-y: auto;
}
.list-element {
  margin-top: 1vh;
  padding: 5px 75px;
}
